// -- NAVBAR -- //
.nav>li>a:focus, .nav>li>a:hover {
  color: $navBkgColor;
}
.navbar  {
  a {
    color: $navbarLinkColor;
  }
  background-color: $navBkgColor;
  box-shadow: 0 3px 6px -6px $boxShadowColor;
  .navbar-toggle {
    //Necessary to make hamburger menu visible
    .icon-bar {
      background-color: $navbarLinkColor;
    }
  }
  .nav {
    > li {
      text-align: right;
      box-sizing: border-box;
      >a {
        padding:  0 !important;
        margin: 15px 15px;
        border-bottom: 2px solid transparent;
        font-size: 15px;
        transition: all 0.2s ease;
        &:hover,
        &:focus {
          border-bottom: 2px solid $secondaryAccentColor;
          background-color: transparent;
          color: $mainBkgColor;
        }
      }
    }
  }
  //Collapsable nav border top
  .navbar-collapse[aria-expanded="true"] {
    border-top: 1px solid $collapsableNavBorderColor;
  }
  .dropdown-menu {
    background-color: $navBkgColor;
  }
}
// Dropdown menu //
.dropdown-menu {
  > li {
    > a,
    > a:hover {
      color: $navBkgColor;
      text-align: right;
    }
    > a {
      color: $footerLinkColor;
    }
  }
}
