// -- MEDIA QUERIES -- //

@media screen and (max-width: 793px){
  #btn-switch-row {
    display:flex;
    flex-direction:column
  }
    .switch-datepick {
      order: 99;
    }
    .no-right-pad-col {
      order: -1;
      text-align: right;
      margin-bottom: 10px;
    }
}

// Small devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  // -- GLOBAL -- //
  h1 {
    font-size: 36px;
  }
  .no-right-pad-col {
      padding-right: 0;
      margin-right: -10px;
  }
  .mobile-hide-btn {
    display: inline-block;
  }
  // -- NAVBAR -- //
  .navbar {
    .navbar-nav {
      float: right !important;
    }
    .text-brand {
      display: inline-block;
    }
    .navbar-brand {
      padding-right: 10px;
    }
    .nav {
      >li {
        >a {
          &:hover,
          &:focus { //Border-bottom color on hover and focus
            border-bottom: 2px solid $secondaryAccentColor;
            background-color: transparent;
            color: $mainBkgColor;
          }
        }
      }
    }
    .dropdown-toggle {
      margin-bottom: 15px !important;
    }
  }
  // Dropdown menu
  .dropdown-menu>li>a, .dropdown-menu>li>a:hover {
    text-align: left;
  }
  // -- FORMS --//
  .filters-form {
    .form-group {
      &:not(:last-child) {
        margin-bottom: 0 !important;
      }
    }
  }
}

// Medium devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {}

// Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}

// Xtra Large devices (Xlarge desktops, 1500px and up)
@media only screen and (min-width: 1500px) {}
