// -- COLORS -- //
$primaryAccentColor: #ff533d;
// $primaryAccentColor: #ffc300;
// $mainBkgColor: #f5f5f5;
$mainBkgColor: #fff;

$navbarLinkColor: #f5f5f5;
$navBkgColor: #0f1626;
$secondaryAccentColor: #ffc300;

$tblBkgColor: #f5f5f5;

$white: #fff;
$boxShadowColor: #222;
$collapsableNavBorderColor: #eee;
$linkColor: #ffc300;
$bootstrapRed: #d9534f;
$bootstrapGreen: #5cb85c;

$footerBkgColor: #0f1626;
$footerLinkColor:  #f5f5f5;

// -- FONTS -- //
$primaryFont: 'Open Sans', sans-serif;
