// -- COLORS -- //
$linkColor: #03BC9D;
$primaryAccentColor: #ffbe01;
$mainBkgColor: #e1e6e9;

$navbarLinkColor: #fff;
$navBkgColor: #2f3535;





$white: #fff;
$boxShadowColor: #222;
$collapsableNavBorderColor: #eee;
//$linkColor: #337ab7;
$bootstrapRed: #d9534f;
$bootstrapGreen: #5cb85c;
$footerBkgColor: #2A3035;

  //background-color: #ecdb73;


// -- FONTS -- //
