// -- NAVBAR -- //
.nav>li>a:focus, .nav>li>a:hover {
  color: $navBkgColor;
}
.navbar  {
  a {
    color: $navbarLinkColor;
  }
  .text-brand {
    display: none;
  }
  .navbar-brand {
    padding: 10px;
  }
  background-color: $navBkgColor;
  box-shadow: 0 3px 6px -6px $boxShadowColor;
  .navbar-toggle {
    //Necessary to make hamburger menu visible
    .icon-bar {
      background-color: $navbarLinkColor;
    }
  }
  .nav {
    > li {
      text-align: right;
      box-sizing: border-box;
      >a {
        padding:  0 !important;
        margin: 15px 15px;
        border-bottom: 2px solid transparent;
        font-size: 15px;
        transition: all 0.2s ease;
        background-color: transparent;
        &:hover,
        &:focus {
          color: $secondaryAccentColor;
          background-color: transparent;
          border-bottom: 2px solid $navBkgColor;
        }
      }
    }
  }
  .dropdown-toggle {
    margin-bottom: 0 !important;
  }
  //Logo Image/ Header Text
  .navbar-brand{
    padding: 8px 0 8px 15px;
  }
  span.text-brand {
    position: absolute;
    top: 30%;
    font-family: 'octin', 'tahoma';
    color: $tblBkgColor;
    font-size: 16px;
  }
  //Collapsable nav border top
  .navbar-collapse[aria-expanded="true"] {
    border-top: 1px solid $collapsableNavBorderColor;
  }
  .dropdown-menu {
    background-color: $navBkgColor;
  }
}
// Dropdown menu //
.dropdown-menu {
  > li {
    > a,
    > a:hover {
      color: $navBkgColor;
      text-align: right;
    }
    > a {
      color: $footerLinkColor;
    }
  }
}
