// -- COLORS -- //
$primaryAccentColor: #ff533d;
$mainBkgColor: #fff;
$navbarLinkColor: #f5f5f5;
$navBkgColor: #0f1626;
$secondaryAccentColor: #ffc300;
$tertiaryAccentColor: #DAF7A6 ;
$tblBkgColor: #f5f5f5;

$white: #fff;
$boxShadowColor: #222;
$collapsableNavBorderColor: #eee;
$linkColor: #ffc300;
$bootstrapRed: #c9302c;
$bootstrapGreen: #5cb85c;

$footerBkgColor: #0f1626;
$footerLinkColor:  #f5f5f5;

// -- FONTS -- //
@font-face {
  font-family: 'octin';
  src: url('../../fonts/octinPrison.woff2')
}

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont : 'octin', 'tahoma';
