@import 'settings';

// -- Globals -- //
html, body {
  margin-top: 35px;
}
.red {
  color: $bootstrapRed;
}
// -- UIB-DAYPICKERS -- //
.uib-daypicker {

  .btn-info, .btn-info.active {
    background-color: $bootstrapGreen;
    .text-info {
      color: $white;
    }
  }
  .btn-default {
    border-color: transparent;
  }
  .uib-day {
    button {
      border-color: transparent;
    }
  }
}
.form-control.date-input:focus {
  border-color: #ccc !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

// -- NavBar -- //
@import 'navbar';

// -- FORMS -- //
.short-inline-select {
  max-width: 50%;
  display: inline;
}
.filters-form {
  margin: 30px 0 30px;
  .form-group {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 10px !important;
    }
  }
  .col-sm-4 {
    padding-left: 0;
  }
  span.glyphicon-trash {
    color: $bootstrapRed;
  }
}
//Changes border color for invalid inputs after form is submitted
.ng-submitted {
  .ng-invalid {
    border-color: $bootstrapRed;
}
  .ng-valid {
      border-color:lightgreen;
  }
}
// -- TABLES -- //
.table {
  th {
    text-align: center;
  }
  td {
    text-align: center;
    vertical-align: middle !important;
  }
}

.calendar-table {
  >tbody>tr>td {
    padding: 0;
    > div {
      padding: 16px;
    }
    .popover {
      padding: 0;
    }
  }
  td.disabled {
    cursor: pointer;
  }
}
.colorfield-table {
  //class for table data containing a reservation
  td.disabled {
    background-color: lighten($bootstrapRed, 10%);
  }
  //class for table data not containing
  td.enabled {
  }
}
// -- Media Queries -- //
@import 'responsive';
