<!-- Home View -->
<div ng-if="loggedIn" class="text-center">
  <h1 ng-show="dayViewDisplay" class="text-center">Home view</h1>

  <pre ng-show="dayViewDisplay">Selected date is: <em>{{date | date:'fullDate' }}</em></pre>

  <div class="row">
    <div class="col-md-4" ng-show="dayViewDisplay">
      <p class="input-group">
        <input ng-change="getReservationsByDate(date)" onkeydown="return false" type="text"
              class="form-control date-input" uib-datepicker-popup="MMMM dd, yyyy" ng-model="date"
              is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
              alt-input-formats="altInputFormats" show-button-bar="false"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openDatepick()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>

    <!-- Week/Day View Toggle Button -->
    <div ng-if="isAdmin" class="pull-right">
      <button ng-click="displayWeekView()" ng-show="dayViewDisplay" class="btn btn-primary">Week View</button>
      <button ng-hide="dayViewDisplay" ng-click="displayDayView()" class="btn btn-primary">Day View</button>
      <!-- Print View button -->
      <button ng-hide="dayViewDisplay" ng-click="printView()" class="btn btn-warning">Print</button>
      <!-- TODO: remove this break and add styling -->
      <br> <br>
    </div>

  </div>

  <div class="table-responsive">

    <!-- Single Day View Table -->
    <table ng-show="dayViewDisplay" class="table table-bordered colorfield-table calendar-table">
      <thead>
        <tr>
          <th></th>
          <th>BS</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>AS</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in allItems">
          <!-- View if user is an not an Admin (no link) -->
          <td ng-if="!isAdmin">{{item.newItem}}</td>
          <!-- View if user is an Admin (show link) -->
          <td ng-if="isAdmin"><a>{{item.newItem}}</a></td>
          <!-- Repeat table data -->
          <td ng-if="item.period" ng-repeat="value in item.period" class="{{value.class}}">
            <div ng-if="value.class === 'disabled'" popover-title="Reservation Info:"
                 uib-popover-template="'popoverTemplate.html'" popover-placement="top-left"
                 popover-trigger="'mouseenter'"></div>
              <!-- Popover Template -->
              <script type="text/ng-template" id="popoverTemplate.html">
                <p>{{value.teacher}}</p>
                <p>{{value.data.display}}{{value.data.value}}</p>
              </script>
            <div ng-if="value.class === 'enabled'"></div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Week View -->
    <table ng-hide="dayViewDisplay" class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th ng-repeat="date in thisWeeksDates">{{date}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in weekViewItemsArray">
          <td >{{item.itemName}}</td>
          <td ng-repeat="day in item.reservationsByDate">
            <!-- X:{{x[$index]}} -->
            <p ng-repeat="period in day[$index]">
              <strong>{{period.display}}</strong>
              <span>{{period.reserved}}</span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <script type="text/ng-template" id="updateUsernameModal.html">
          <div class="modal-header">
            <h5 class="modal-title">Username Required</h5>
          </div>
          <div class="modal-body">
            <p class="text-center">Please provide your full name.</p>
            <div class="form-group">
              <label>First Name:</label>
              <input ng-model="firstName" placeholder="First Name" class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Last Name:</label>
              <input ng-model="lastName" placeholder="Last Name" class="form-control" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button ng-click="saveUsername(firstName, lastName)" type="button" class="btn btn-success">Save</button>
          </div>
        </script>
      </div>
    </div>
  </div>

</div>
