<!-- Manage Items View -->
<!-- Shown only for Admin users -->
<div ng-if="loggedIn && isAdmin">

  <h1 class="text-center">Manage Items</h1>
  <div class="newItem">
    <label>Add New Reservable Item</label>
    <input type="text" ng-model="newItem.name">
    <select id="categorySelect" ng-model="newItem.category">
      <option value="">Select Category</option>
      <option value="carts">Carts</option>
      <option value="labs">Labs</option>
      <option value="equipment">Equipment</option>
    </select>
    <button type="button" ng-click="addItem();">Add</button>
  </div>
  <div class="postItem" ng-repeat="item in allItems">
    {{ item.newItem }}
    {{ item.category }}
  </div>
</div>
