<!-- Manage Items View -->
<!-- Shown only for Admin users -->
<div ng-if="loggedIn && isAdmin">

  <h1 class="text-center">Manage Items</h1>

  <!-- Add item button -->
  <div class="clearfix">
    <button ng-click="openAddItemModal('md')" class="btn btn-success pull-right">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>

  <form class="form filters-form">
    <fieldset>
      <div class="form-group">
        <!-- Filter by Status select group  -->
          <div class="col-sm-4">
            <div class="input-group">
              <ui-select allow-clear ng-model="categorySelected.value" theme="bootstrap">
                <ui-select-match placeholder="Filter By Category..." >{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="status in (categoryArray | filter: $select.search) track by status.value">
                  <span ng-bind-html="status.value"></span>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn">
                <button ng-if="categorySelected.value" type="button" ng-click="categorySelected.value = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>
          </div>
      </div>
      <div class="form-group">
        <!-- Search by name input -->
        <div class="col-sm-4 col-sm-offset-4">
          <input ng-model="itemSearch" type="text" class="form-control" placeholder="Search by Name...">
        </div>
      </div>
    </fieldset>
  </form>

  <!-- Items Table -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Remove Item</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in allItems | filter: ({ newItem: itemSearch, category: categorySelected.value.value }) | orderBy: 'newItem' ">
          <td>{{ item.newItem }}</td>
          <td>{{ item.category }}</td>
          <td>
            <button ng-click="openDeleteItemConfirmationModal('md', item)" class="btn btn-sm btn-danger">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Add New Item Modal -->
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <script type="text/ng-template" id="addNewItemModal.html">
          <div class="modal-header">
            <h5 class="modal-title">Add New Item</h5>
          </div>
          <div class="modal-body">
            <p ng-if="duplicateItem" class="red"><strong>This is a duplicate item.</strong></p>
            <form ng-submit="addItem()" class="form" name="addItemForm" novalidate>
              <div class="form-group">
                <input type="text" ng-model="newItem.name" class="form-control" placeholder="Item Name" name="itemNameIn" required>
              </div>
              <div class="form-group">
                <select id="categorySelect" ng-model="newItem.category" class="form-control" name="itemCategoryIn" required>
                  <option value="" selected disabled>Select Category</option>
                  <option value="Cart">Cart</option>
                  <option value="Lab">Lab</option>
                  <option value="Equipment">Equipment</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button ng-click="close()" type="button" class="btn btn-danger">Cancel</button>
              </div>
            </form>
          </div>

        </script>
      </div>
    </div>
  </div>

  <!-- Delete Item Confirmation Modal -->
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <script type="text/ng-template" id="deleteItemConfirmModal.html">
          <div class="modal-header">
            <h5 class="modal-title">Delete Item</h5>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete the {{itemName}}?</p>
          </div>
          <div class="modal-footer">
            <button ng-click="deleteItem()" type="button" class="btn btn-success">Yes</button>
            <button ng-click="close()" type="button" class="btn btn-danger">No</button>
          </div>
        </script>
      </div>
    </div>
  </div>

</div>
