<!-- Login View -->
<div class="row">
  <div class="col-md-6 col-xs-6">
    <img class="img-responsive" id ="logo" src="/images/eagleLogoColor.jpg" alt= "Eagle Reserve Logo">
  </div>
  <!-- Shown for users that are NOT logged in -->
  <div ng-hide="loggedIn" class="col-md-6 col-xs-6 text-center google-button">
    <h1 class="welcome">Welcome To Eagle Reserve!</h1>
    <a href="/auth/google"><img src="/images/btn_google_signin.png" alt="sign in with google button"></a>
  </div>
  <!-- Shown for users that are logged in -->
  <div ng-if="loggedIn">
    <p class="text-center">You are logged in!</p>
  </div>
</div>
