<!-- Manage Reservations View -->
<div ng-if="loggedIn" class="text-center">

  <div ng-if="isAdmin">
    <h1 class="text-center">Manage Reservations</h1>
  </div>
  <div ng-if="!isAdmin">
    <h1 class="text-center">My Reservations</h1>
  </div>

  <!-- Filters Form -->
  <form class="form filters-form">
    <fieldset>
      <!-- Filter by Teacher select group (visible to Admin Only)  -->
      <div ng-if="isAdmin" class="form-group">
          <div class="col-sm-3">
            <div class="input-group">
              <ui-select allow-clear ng-model="teacherSelected.name" theme="bootstrap">
                <ui-select-match placeholder="Filter Teacher..." >{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="status in (teachers | filter: $select.search) track by status.name">
                  <span ng-bind-html="status.name"></span>
                </ui-select-choices>
              </ui-select>
              <span ng-hide="!teacherSelected.name.name" class="input-group-btn">
                <button type="button" ng-click="teacherSelected.name = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>
          </div>
      </div>
      <!-- Filter by Category select group (visible to all)  -->
      <div class="form-group">
          <div class="col-sm-3">
            <div class="input-group">
              <ui-select allow-clear ng-model="categorySelected.category" theme="bootstrap">
                <ui-select-match placeholder="Filter Category..." >{{$select.selected.category}}</ui-select-match>
                <ui-select-choices repeat="status in (category | filter: $select.search) track by status.category">
                  <span ng-bind-html="status.category"></span>
                </ui-select-choices>
              </ui-select>
              <span ng-hide="!categorySelected.category.category" class="input-group-btn">
                <button type="button" ng-click="categorySelected.category = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>
          </div>
      </div>
      <!-- Filter by Item select group (visible to all) -->
      <div class="form-group">
          <div class="col-sm-3">
            <div class="input-group">
              <ui-select allow-clear ng-model="itemSelected.newItem" theme="bootstrap">
                <ui-select-match placeholder="Filter Item..." >{{$select.selected.newItem}}</ui-select-match>
                <ui-select-choices repeat="status in (items | filter: $select.search) track by status.newItem">
                  <span ng-bind-html="status.newItem"></span>
                </ui-select-choices>
              </ui-select>
              <span ng-hide="!itemSelected.newItem.newItem" class="input-group-btn">
                <button type="button" ng-click="itemSelected.newItem = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>
          </div>
      </div>

      {{}}
      <!-- Filter by Item select group (visible to all) -->
      <div ng-if="!isAdmin" class="form-group" >
        <div class="col-sm-3">
          <p class="input-group">
            <input ng-change="getByUsernameDate(date)" onkeydown="return false" type="text" class="form-control date-input"
                   uib-datepicker-popup="MM/dd/yyyy" ng-model="date" is-open="popup.opened"
                   datepicker-options="dateOptions" ng-required="true" close-text="Close"
                   alt-input-formats="altInputFormats" show-button-bar="false" placeholder="Filter Date..."
                   ng-click="openDatepick()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default daypicker-btn" ng-click="openDatepick()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
              <button ng-show="date" type="button" class="btn btn-default" ng-click="date=undefined; getByUsername();">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </span>
          </p>
        </div>
      </div>

      <!-- Filter by Date select group (visible to Admin Only) -->
      <div ng-if="isAdmin" class="form-group">
        <div class="col-sm-3">
          <p class="input-group">
            <input ng-change="getByDate(date)" onkeydown="return false" type="text" class="form-control date-input"
                   uib-datepicker-popup="MM/dd/yyyy" ng-model="date" is-open="popup.opened"
                   ng-required="true" close-text="Close" datepicker-options="dateOptionsAdmin"
                   alt-input-formats="altInputFormats" show-button-bar="false" placeholder="Filter Date..."
                   ng-click="openDatepick()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default daypicker-btn" ng-click="openDatepick()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
              <button ng-show="date" type="button" class="btn btn-default" ng-click="date = undefined; displayReservation();">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </span>
          </p>
        </div>
      </div>
    </fieldset>
  </form>

  <!-- Teacher Manage View -->
  <div ng-if="!isAdmin" class="text-center" ng-init="getByUsername()" >
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Time Period</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reservation in userReservations | filter: ({item:itemSelected.newItem.newItem, category:categorySelected.category.category})">
            <td>{{reservation.dateScheduled | date: 'mediumDate': 'UTC'}}</td>
            <td>{{reservation.item}}</td>
            <td>{{reservation.period}}</td>
            <td>
              <!-- <button ng-click="deleteReservationUser( $index )" class="btn btn-sm btn-danger"> -->
              <button ng-click="openConfirmationModal('md', $index)" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Admin Manage View -->
  <div ng-if="isAdmin"  ng-init="displayReservation()">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Category</th>
            <th>Time Period</th>
            <th>Teacher</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reservation in reservations | filter: ({user:teacherSelected.name.name, item:itemSelected.newItem.newItem, category:categorySelected.category.category})">
            <td>{{reservation.dateScheduled | date: 'mediumDate': 'UTC'}}</td>
            <td>{{reservation.item}}</td>
            <td>{{reservation.category}}</td>
            <td>{{reservation.period}}</td>
            <td>{{reservation.user}}</td>
            <td>
              <!-- <button ng-click="deleteReservation( $index )" class="btn btn-sm btn-danger"> -->
              <button ng-click="openConfirmationModal('md', $index)" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Delete Reservation Confirmation Modal -->
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <script type="text/ng-template" id="deleteReservationConfirmModal.html">
          <div class="modal-header">
            <h5 class="modal-title">Delete Reservation</h5>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this reservation?</p>
          </div>
          <div class="modal-footer">
            <button ng-click="close('confirm')" type="button" class="btn btn-success">Yes</button>
            <button ng-click="close('cancel')" type="button" class="btn btn-danger">No</button>
          </div>
        </script>
      </div>
    </div>
  </div>

</div>
