<!-- Manage Reservations View -->
<div ng-if="loggedIn" class="text-center">
  <div ng-if="!isAdmin" class="text-center">
    <h1>Manage My Reservations</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Time Period</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody ng-repeat=' reservation in reservations'>
          <tr>
            <td>{{reservation.dateScheduled}}</td>
            <td>{{reservation.item}}</td>
            <td>{{reservation.period}}</td>
            <td>yes</td>
            <td>
              <button ng-click="deleteReservation( $index )" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div ng-if="isAdmin" >
      <h1 class="text-center">Manage Reservations</h1>
      <div class='teacher'>
        <select ng-model="teacher.teacherIn" >
          <div ng-repeat= 'teacher in teachers'>
            <option value="">Select Teacher</option>
            <option value="{{teacher}}">{{teacher}}</option>
          </div>
        </select>
      </div>

      <div class="manageCategory">
        <select ng-model="manageCategory.categoryIn">
          <option value="">Select by Category</option>
          <option value="carts">Carts</option>
          <option value="labs">Labs</option>
          <option value="equipment">Equipment</option>
        </select>
      </div>

      <div class='manageItems' >
        <select>
          <option value="">Select by Item</option>
          <option value="{{item.newItem}}" ng-repeat= 'item in items'>{{item.newItem}}</option>
        </select>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Item</th>
              <th>Time Period</th>
              <th>Teacher</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat=' reservation in reservations'>
            <tr>
              <td>{{reservation.dateScheduled}}</td>
              <td>{{reservation.item}}</td>
              <td>{{reservation.period}}</td>
              <td>yes</td>
              <td>
                <button ng-click="deleteReservation( $index )" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
