<!-- Make a Reservation View -->
<div ng-if="loggedIn">

    <h1 class="text-center">Make a Reservation</h1>

    <pre>New Reservation Object: {{newReservation}}</pre>

    <form ng-submit = "makeReservationForm.$valid && open('md', newReservation)" class="form-inline filter-form reservations" name ='makeReservationForm' novalidate>
      {{makeReservationForm.$valid}}
        <div class="form-group">
            <select ng-model="newReservation.categoryIn" ng-options="p for p in categories" class="form-control" required>
              <option value="" selected disabled>Select by Category</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-model="newReservation.itemIn"
                    ng-options="c.newItem as c.newItem for c in items | filter: {category: newReservation.categoryIn}"
                    class="form-control" required>
              <option value="" selected disabled>Select by Item</option>
            </select>
        </div>
        <p class="input-group" style="margin-bottom:0;">
          <input onkeydown="return false" type="text" class="form-control date-input"
                 uib-datepicker-popup="MMMM dd, yyyy" ng-model="newReservation.dateIn" is-open="popup.opened"
                 datepicker-options="dateOptions" ng-required="true" close-text="Close"
                 alt-input-formats="altInputFormats" show-button-bar="true" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatepick()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <!-- <input type="text" ng-model="reservationToSend.numberOfStudentsIn" ng-if="newReservation.categoryIn == 'Lab'" placeholder="Number of Students">
        <input type="text" ng-model="reservationToSend.roomNumberIn" ng-if="newReservation.categoryIn == 'Cart'" placeholder="Room Number">
        <input type="text" ng-model="reservationToSend.roomNumberIn" ng-if="newReservation.categoryIn == 'Other'" placeholder="Room Number"> -->

    <div class="form-group">
        <label ng-repeat="periodName in periodArray">
        <input
          type="checkbox"
          name="selectedPeriods[]"
          value="{{periodName}}"
          ng-checked= "selection.indexOf(periodName) > -1"
          ng-click="toggleSelection(periodName)"
          /> {{periodName}}
        </label>
    </div>

    <button type="submit" class="btn btn-success">Make Reservation</button>
    </form>

    <div ng-bind-html= "outputDiv"></div>

    <!-- Confirm Reservation Modal -->
    <div class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <script type="text/ng-template" id="confirmReservationModal.html">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Reservation</h5>
                    </div>
                    <div class="modal-body">
                        <p>In order to reserve carts or equipment, please provide your room number.</p>
                        <input type="text" name="numberOfStudents" ng-model="numberOfStudents" required="true"/>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="makeReservation();" type="button" class="btn btn-success">Confirm</button>
                        <button ng-click="close()" type="button" class="btn btn-danger">Cancel</button>
                    </div>
                </script>
            </div>
        </div>
    </div>

</div>
