<!-- Make a Reservation View -->
<div ng-if="loggedIn">

    <h1 class="text-center">Make a Reservation</h1>

    <!-- Add New Reservation Form -->
    <form ng-submit = "makeReservationForm.$valid && open('md', newReservation); makeReservationForm.$setPristine()" class="form-inline filter-form reservations" name="makeReservationForm" novalidate>
        <div class="form-group">
            <select ng-model="newReservation.categoryIn" ng-options="p for p in categories" class="form-control" ng-change="changeDropDown()" required>
              <option value="" selected disabled>Select by Category</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-model="newReservation.itemIn"
                    ng-options="c.newItem as c.newItem for c in items | filter: {category: newReservation.categoryIn}"
                    class="form-control"
                    ng-disabled="dropDownDisabledItem"
                    ng-change="changeDropDown(); getReservations()"
                    required>
              <option value="" selected disabled>Select by Item</option>
            </select>
        </div>

        <div class="form-group" ng-if='isAdmin'>
            <select ng-model="teacherName.name" class="form-control" ng-disabled="dropDownDisabledTeacher"  required>
              <option value="" selected disabled>Select a Teacher</option>
              <option ng-repeat='teacher in teachers' value="{{teacher.name}}">{{teacher.name}}</option>
            </select>
        </div>
        <!-- DatePicker -->
        <p class="input-group reserve-datepick">
          <input onkeydown="return false" type="text" class="form-control date-input"
                 uib-datepicker-popup="MMMM dd, yyyy" ng-model="newReservation.dateIn" is-open="popup.opened"
                 datepicker-options="dateOptions" ng-required="true" close-text="Close"
                 alt-input-formats="altInputFormats" show-button-bar="false"
                 ng-disabled="dropDownDisabledDate"
                 ng-change="getReservations()"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatepick()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <!-- Period Selection Checkboxes Table -->
        <div class="table-responsive">
          <table ng-if="tableIsVisible" class="table table-bordered colorfield-table">
            <thead>
              <tr>
                <th ng-repeat="period in periodArray">{{period.name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="period in periodArray" class="{{period.class}}">
                    <!-- only show input checkbox if period is available -->
                    <input ng-if="!period.reserved" type="checkbox" name="selectedPeriods[]"
                           value="period" ng-checked="selection.indexOf(period) > -1"
                           ng-click="toggleSelection(period)" required>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Submit Button -->
        <button ng-disabled="newReservation.periodIn.length < 1" type="submit" class="btn btn-success">Make Reservation</button>
    </form>

    <!-- Reservation Confirmation Alerts -->
    <div ng-repeat="reservation in reservationsMade" class="alert alert-success" role="alert">
       You have added a reservation for {{reservation.item}} on {{reservation.date | date}} for period(s): {{}}
       <span ng-repeat="period in reservation.period">
           <!-- display a comma before item if it is not first in array -->
           <span ng-if="!$first">, </span>{{period}}
       </span>
    </div>

    <!-- Confirm Reservation Modal -->
    <div class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <script type="text/ng-template" id="confirmReservationModal.html">
                    <div class="modal-header">
                        <h5 class="modal-title">Complete Your Reservation</h5>
                    </div>
                    <div class="modal-body">
                        <p>You are reserving {{newReservation.itemIn}} on {{newReservation.dateIn | date}} for period(s):
                            <span ng-repeat="period in newReservation.periodIn">
                                <!-- display a comma before item if it is not first in array -->
                                <span ng-if="!$first">, </span>{{period}}
                            </span>
                        </p>
                        <form ng-submit="makeReservation()" name="confirmReservationForm" class="form form-inline" novalidate>
                            <!-- show this input if the category is Cart -->
                            <div ng-if="isCart" class="form-group">
                                <label>Room Number:</label>
                                <input type="text" name="numberOfStudents" ng-model="userInput.roomNumberIn" class="form-control" required/>
                            </div>
                            <!-- show this input if category is NOT Cart -->
                            <div ng-if="!isCart" class="form-group">
                                <label>Number of Students:</label>
                                <input type="text" name="numberOfStudents" ng-model="userInput.numberOfStudentsIn" class="form-control" required/>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Confirm</button>
                                <button ng-click="close('cancel')" type="button" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </script>
            </div>
        </div>
    </div>

</div>
